@font-face {
    font-family: SofiaProRegular;
    src: url("../fonts/Sofia Pro Regular.ttf");
}

@font-face {
    font-family: SofiaPro-SemiBold;
    src: url("../fonts/Sofia Pro SemiBold.ttf");
}

.about .top {
    background: #353535;
}

.about .top .bio {
    padding-top: 3rem;
}

.about .top .bio h4 {
    font-family: SofiaProRegular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-bottom: 3rem;
}

.about .top .bio h4 span {
    color: #d76701;
}

.about .top .row {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about .top .map {
    text-align: right;
    position: relative;
}

span.p1,
span.p2,
span.p3,
span.p4,
span.p5,
span.p6,
span.p6,
span.p7 {
    background: url('../images/p.png');
    width: 10px;
    height: 10px;
    background-size: cover;
    position: absolute;
}

span.p1 {
    top: 38px;
    bottom: 340px;
    left: 273px;
    right: 459px;
}

span.p2 {
    top: 149px;
    left: 243px;
}

span.p3 {
    top: 137px;
    left: 387px;
}

span.p4 {
    top: 119px;
    left: 435px;
}

span.p5 {
    top: 161px;
    left: 458px;
}

span.p6 {
    top: 161px;
    left: 487px;
}

span.p7 {
    top: 148px;
    left: 478px;
}

span.c1,
span.c2,
span.c3,
span.c4,
span.c5,
span.c6,
span.c6,
span.c7 {
    background: url('../images/c.png');
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
}

span.c1 {
    top: 33px;
    left: 268px;
}

span.c2 {
    top: 144px;
    left: 238px;
}

span.c3 {
    top: 132px;
    left: 382px;
}

span.c4 {
    top: 114px;
    left: 430px;
}

span.c5 {
    top: 156px;
    left: 453px;
}

span.c6 {
    top: 156px;
    left: 482px;
}

span.c7 {
    top: 143px;
    left: 473px;
}

.about .bottom {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about .bottom .icon {
    width: 160px;
    height: 160px;
    background: #9accfd;
    margin: auto;
    border-radius: 90px;
    margin-bottom: 2rem;
}

.about .bottom img {
    display: block;
    padding: 2.5rem;
    margin: auto;
}

.about .bottom h4 {
    font-family: SofiaProRegular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 23pt;
    color: rgba(215, 103, 1, 255);
    text-align: center;
    margin-bottom: 2rem;
}

.about .bottom p {
    font-family: SofiaProRegular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(138, 133, 126, 255);
    text-align: center;
    width: 950px;
    margin: auto;
    margin-bottom: 2rem;
}

.about .bottom h6 {
    font-family: SofiaProRegular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 15pt;
    color: rgba(53, 53, 53, 255);
    text-align: center;
    width: 1015px;
    margin: auto;
    margin-bottom: 2rem;
}

.about .bottom button {
    font-family: SofiaPro-SemiBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #f0ae00;
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 30px;
}