@font-face {
    font-family: SofiaPro-SemiBold;
    src: url("../fonts/Sofia Pro SemiBold.ttf");
}

@font-face {
    font-family: SofiaProRegular;
    src: url("../fonts/Sofia Pro Regular.ttf");
}

@font-face {
    font-family: SofiaPro-Light;
    src: url("../fonts/Sofia Pro Light.ttf");
}

.register_page .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/bg_h.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.contact_page .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/c_bg.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.about_page .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/about_bg.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.gallery_page .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/g1.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.galleryAlbum_page .header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/g1.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header div.top {
    border-bottom: 1px solid #9e9e9e36;
}

.header nav {
    padding: 1rem 0;
    display: block;
    padding-bottom: 1.5rem;
}

.header nav .logo {
    display: inline-block;
}

.header .navbar-nav.links {
    display: inline-block;
    float: right;
    padding: 1rem 0.5rem;
}

.header .navbar-nav.links a {
    font-family: SofiaPro-SemiBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 12pt;
    vertical-align: middle;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    padding: 0 1.5rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 255);
    background-color: #f0ae00;
    border-radius: 25px;
    /* padding: 0.5rem 2rem; */
}

.header .desc {}

.header .clear {
    width: 100%;
    display: block;
    height: 150px;
}

.header .desc h3 {
    font-family: SofiaProRegular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header .desc h1 {
    font-family: SofiaPro-Light, AdobeInvisFont, MyriadPro-Regular;
    font-size: 25pt;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}