/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* Header General */
    .header nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .header nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .header nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .header nav>.links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 88px;
        left: 0px;
    }
    .header nav>.links>a {
        display: block;
        width: 100%;
        padding: 2rem;
    }
    .header nav>#nav-check:not(:checked)+.links {
        height: 0px;
    }
    .header nav>#nav-check:checked+.links {
        height: calc(100vh - 150px);
        overflow-y: auto;
    }
    .header .clear {
        height: 100px;
    }
    .header .desc h1 {
        font-size: 18pt;
    }
    .header .desc h3 {
        font-size: 10pt;
        max-width: 350px;
        margin: auto;
        margin-bottom: 2rem;
    }
    /* ----------------------------------------------------- */
    /* Home */
    .home_page .desc a.register {
        margin-right: 0;
        padding: 1rem;
        display: block;
        margin: auto;
        width: 60%;
        margin-bottom: 2rem;
    }
    .home_page .desc a.learn_more {
        opacity: 1;
    }
    .home_page .ideas .left {
        padding: 1rem 0;
        margin: auto;
        width: auto;
    }
    .home_page .ideas .left p {
        width: 350px;
    }
    .home_page .ideas .right {
        text-align: center;
    }
    .home_page .ideas .right img {
        width: 350px;
    }
    .home_page .who .left {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/h7.png) 529px center fixed;
        height: 200px;
    }
    .home_page .who .left h4 {
        font-size: 1.5rem;
        padding: 5rem 4rem;
    }
    .home_page .who .right p {
        padding: 2rem;
    }
    .home_page .servies .servies_card .card {
        margin-right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .home_page .why_tick .why_card .card {
        max-width: 300px;
        margin-right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .home_page .testimonials .content {
        width: auto;
        height: 400px;
    }
    .home_page .testimonials .content .slides {
        height: 300px;
        width: 350px;
        top: 0rem;
        left: 0rem;
        padding: 0 1rem;
        margin: auto;
    }
    .home_page .testimonials .content p {
        font-size: 11pt;
    }
    .home_page .testimonials .content h5 {
        font-size: 12pt;
    }
    .home_page .community {
        height: 500px;
        padding: 2rem 0;
    }
    .home_page .community h3 {
        font-size: 20pt;
    }
    .home_page .community h5 {
        width: 350px;
        margin: auto;
        margin-bottom: 0;
        padding: 1rem 0;
    }
    .home_page .community a {
        padding: 1rem;
        margin: 1rem auto;
        display: block;
        width: 60%;
    }
    /* ----------------------------------------------------- */
    /* about */
    .about .top .map {
        text-align: center;
        position: relative;
        margin: auto;
        width: auto;
    }
    .about .top .map img {
        max-width: 375px;
        width: auto;
        margin: auto;
    }
    .about .top .map span {
        display: none;
    }
    .about .top .bio h4 {
        font-size: 13pt;
    }
    .about .bottom h4 {
        font-size: 15pt;
    }
    .about .bottom p {
        font-size: 13pt;
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .bottom h6 {
        font-size: 12pt;
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    /* ------------------------------------------------------------------------- */
    /* Register Page */
    .register .title p {
        max-width: 400px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .left {
        margin-right: 2rem;
    }
    .contact_info .right {
        display: block;
        padding: 2rem 1.5rem;
        float: none;
    }
    .contact_info p {
        width: 300px;
    }
    .contact_info .right form input {
        width: 200px;
    }
    .contact_info .right form textarea {
        width: 200px;
        height: 200px;
    }
    /* ---------------------------------------------------------------------------- */
    /* Footer */
    .page-footer .links a {
        text-align: center;
        margin: 1rem;
        display: block;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Header General */
    .header nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .header nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .header nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .header nav>.links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 88px;
        left: 0px;
    }
    .header nav>.links>a {
        display: block;
        width: 100%;
        padding: 2rem;
    }
    .header nav>#nav-check:not(:checked)+.links {
        height: 0px;
    }
    .header nav>#nav-check:checked+.links {
        height: calc(100vh - 177px);
        overflow-y: auto;
    }
    .header .clear {
        height: 100px;
    }
    .header .desc h3 {
        font-size: 11pt;
    }
    /* ----------------------------------------------------- */
    /* Home */
    .home_page .desc a.register {
        margin-right: 0;
        padding: 1rem;
        display: block;
        margin: auto;
        width: 60%;
        margin-bottom: 2rem;
    }
    .home_page .desc a.learn_more {
        opacity: 1;
    }
    .home_page .ideas .left {
        padding: 1rem 0;
        margin: auto;
        width: auto;
    }
    .home_page .ideas .left p {
        width: 450px;
    }
    .home_page .ideas .right {
        text-align: center;
    }
    .home_page .ideas .right img {
        width: 450px;
    }
    .home_page .who .left {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/h7.png) 529px center fixed;
        height: 200px;
    }
    .home_page .who .left h4 {
        font-size: 1.5rem;
        padding: 5rem 4rem;
    }
    .home_page .who .right p {
        padding: 2rem;
    }
    .home_page .servies .servies_card .card {
        margin-right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .home_page .why_tick .why_card .card {
        max-width: 400px;
        margin-right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .home_page .testimonials .content {
        width: auto;
        height: 400px;
    }
    .home_page .testimonials .content .slides {
        height: 300px;
        width: 350px;
        top: 0rem;
        left: 0rem;
        padding: 0 1rem;
        margin: auto;
    }
    .home_page .testimonials .content p {
        font-size: 11pt;
    }
    .home_page .testimonials .content h5 {
        font-size: 12pt;
    }
    .home_page .community {
        height: 500px;
        padding: 2rem 0;
    }
    .home_page .community h3 {
        font-size: 20pt;
    }
    .home_page .community h5 {
        width: 350px;
        margin: auto;
        margin-bottom: 0;
        padding: 1rem 0;
    }
    .home_page .community a {
        padding: 1rem;
        margin: 1rem auto;
        display: block;
        width: 60%;
    }
    /* -------------------------------------------------------- */
    /* about */
    span.p7 {
        top: 214px;
        left: 448px;
    }
    span.c7 {
        top: 208px;
        left: 443px;
    }
    .about .top .map {
        text-align: center;
        position: relative;
        margin: auto;
        width: auto;
    }
    .about .top .map img {
        max-width: 500px;
        width: auto;
        margin: auto;
    }
    .about .top .bio h4 {
        font-size: 15pt;
    }
    .about .bottom h4 {
        font-size: 20pt;
    }
    .about .bottom p {
        font-size: 13pt;
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .bottom h6 {
        font-size: 12pt;
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    /* ------------------------------------------------------------------------- */
    /* Register Page */
    .register .title p {
        max-width: 500px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .right {
        float: none;
    }
    .contact_info p {
        width: 450px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Header General */
    .header nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .header nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .header nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .header nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .header nav>.links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 88px;
        left: 0px;
    }
    .header nav>.links>a {
        display: block;
        width: 100%;
        padding: 2rem;
    }
    .header nav>#nav-check:not(:checked)+.links {
        height: 0px;
    }
    .header nav>#nav-check:checked+.links {
        height: calc(100vh - 177px);
        overflow-y: auto;
    }
    .header .clear {
        height: 100px;
    }
    .header .desc h3 {
        font-size: 11pt;
    }
    /* ----------------------------------------------------- */
    /* Home */
    .home_page .desc a.register {
        padding: 1rem 4rem;
    }
    .home_page .desc a.learn_more {
        opacity: 1;
    }
    .home_page .ideas .left {
        padding: 1rem;
    }
    .home_page .ideas .left p {
        width: 300px;
    }
    .home_page .ideas .right img {
        width: 360px;
    }
    .home_page .ideas .left p {
        font-size: 0.8rem;
    }
    .home_page .who .left h4 {
        padding: 12rem 0;
        margin: auto;
    }
    .home_page .who .right p {
        padding: 2rem;
    }
    .home_page .servies .servies_card .card {
        padding: 2rem 0;
        max-width: 340px;
        margin-right: 0;
        margin: auto;
        width: auto;
        margin-bottom: 1rem;
    }
    .home_page .why_tick .why_card .card {
        margin-right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .home_page .community h5 {
        width: 750px;
    }
    /* ---------------------------------------------------------------------------*/
    /* about */
    .about .top .map {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: auto;
    }
    .about .top .map img {
        max-width: 440px;
        width: auto;
        margin: auto;
    }
    .about .bottom p {
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .bottom h6 {
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .top .bio {
        padding-top: 0rem;
    }
    /* ------------------------------------------------------------------------- */
    /* Contact */
    .contact_info .right {
        float: none;
    }
    /* --------------------------------------------------- */
    /* footer */
    .page-footer .links a {
        text-align: center;
        margin: 0 1rem;
        margin: 1rem auto;
        width: auto;
        display: block;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* about */
    .about .top .map {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: auto;
    }
    .about .top .map img {
        max-width: 550px;
        width: auto;
        margin: auto;
    }
    .about .bottom p {
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .bottom h6 {
        width: auto;
        margin: auto 1rem;
        margin-bottom: 2rem;
    }
    .about .top .bio {
        padding-top: 0rem;
    }
    /* ------------------------------------------------------------------------- */
    .contact_info .right {
        float: none;
    }
    /* ----------------------------------------------- */
    /* Footer */
    .page-footer .links a {
        font-size: 11pt;
        display: inline-block;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /* Footer */
    .page-footer .links a {
        font-size: 11pt;
        display: inline-block;
    }
}