/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* Header */
    .header {
        display: none;
    }
    .gallery_page .resNav {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/g1.png') center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
    }
    .resNav .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }
    .resNav .navbar-nav .nav-item {
        float: none;
    }
    .resNav .logo {
        float: right;
    }
    .resNav .logo,
    .resNav .navbar-nav .nav-item {
        display: block;
    }
    .resNav .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
    .resNav .dropdown-menu {
        position: relative;
        float: none;
    }
    /* ------------------------------------------------------------------------- */
    /* Register Page */
    .register .title p {
        max-width: 400px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .left {
        margin-right: 2rem;
    }
    .contact_info .right {
        display: block;
        padding: 2rem 1.5rem;
        float: none;
    }
    .contact_info p {
        width: 300px;
    }
    .contact_info .right form input {
        width: 200px;
    }
    .contact_info .right form textarea {
        width: 200px;
        height: 200px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Register Page */
    .register .title p {
        max-width: 500px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .right {
        float: none;
    }
    .contact_info p {
        width: 450px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .contact_info .right {
        float: none;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contact_info .right {
        float: none;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}