/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* Register Page */
    .register .title p {
        max-width: 400px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .left {
        margin-right: 2rem;
    }
    .contact_info .right {
        display: block;
        padding: 2rem 1.5rem;
        float: none;
    }
    .contact_info p {
        width: 300px;
    }
    .contact_info .right form input {
        width: 200px;
    }
    .contact_info .right form textarea {
        width: 200px;
        height: 200px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Register Page */
    .register .title p {
        max-width: 500px;
    }
    .register .register_form label {
        display: block;
    }
    .register button {
        float: none;
    }
    /* -------------------------------------------------------------------------------------------- */
    /* CONTACT Page */
    .contact_page .info div {
        width: 90%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .contact_info {
        padding: 3rem 2rem;
    }
    .contact_info .right {
        float: none;
    }
    .contact_info p {
        width: 450px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .contact_info .right {
        float: none;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contact_info .right {
        float: none;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}